@font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: rgb(31, 31, 78);
    animation: 5s bgcolorswitcher alternate infinite; 
}
/* Creating Bg color switcher */
@keyframes bgcolorswitcher{
    0%{
        background:rgb(31, 31, 78);
    }
    100%{
        background:rgb(0, 79, 116);
    }
}
h1{
   font-family: 'pricedownblack';
   font-size:10em;
   color:white;
}
#hud{
    display:flex;
    overflow:hidden;
    align-items:center;
}
#hud1{
    border-radius: 60%;
    border: solid rgb(22, 17, 36);
    width:60vh;
    height:20vh;
    background:rgb(22, 17, 36)
}
h3{
    font-family: 'pricedownblack';
    color:white;
    font-size:3rem;
    justify-content:center;
    align-items:center;
}
div{
    display:flex;
    justify-content: space-around; 
    margin:200px,200px;
}
.rps{
    border: solid rgb(31, 31, 78) 20px;
    background-color:rgb(31, 31, 78);
    border-radius:30%;
    width: 20vh;
    height:20vh;
}
img:hover{
    transform: scale(2,2);
    transition: 1s;
}
